<!DOCTYPE html>
<html>
<head>
  <title>Statistics Page</title>
</head>
<body>
  <h1>Statistics</h1>
  <ul>
    <li>Lowest Grade: <%= analytics["Lowest Grade"] %></li>
    <li>Highest Grade: <%= analytics["Highest Grade"] %></li>
    <li>Average Grade: <%= analytics["Average Grade"] %></li>
  </ul>
</body>
</html>
