<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <h2>Welcome to the Statistics Page</h2>
    <p>Data from MongoDB will be shown below:</p>
    <ul>
        <li>Lowest Grade: <%= data["lowest_grade"] %></li>
        <li>Highest Grade: <%= data["highest_grade"] %></li>
        <li>Average Grade: <%= data["average_grade"] %></li>
      </ul>
</body>
</html>
